* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

html {
  font-size: 10px; }

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 1.4rem;
  overflow-x: hidden; }

.mainContainer {
  margin: auto;
  padding: 0 15px; }

.mainHeader {
  position: fixed;
  background: #00BFA5;
  color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  padding: 4px 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 200; }
  .mainHeader a {
    color: #fff;
    font-size: 1.6rem;
    -webkit-transition: all .3s;
    transition: all .3s; }
  .mainHeader .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mainHeader .linkList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
    .mainHeader .linkList li a {
      display: block;
      padding: 15px 10px;
      min-width: 50px;
      text-align: center; }
      .mainHeader .linkList li a:hover, .mainHeader .linkList li a:focus, .mainHeader .linkList li a:active {
        text-decoration: none;
        background: #00b9a0; }
  .mainHeader .menuButtonHolder a {
    display: block;
    padding: 15px 10px;
    min-width: 50px;
    text-align: center; }
    .mainHeader .menuButtonHolder a:hover, .mainHeader .menuButtonHolder a:focus, .mainHeader .menuButtonHolder a:active {
      text-decoration: none;
      background: #00b9a0; }
  .mainHeader .searchHolder {
    position: relative; }
    .mainHeader .searchHolder input {
      width: 200px;
      background: transparent;
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      outline: none;
      font-size: 16px;
      color: #fff;
      padding: 6px 12px; }
      .mainHeader .searchHolder input::-webkit-input-placeholder {
        color: #fff; }
      .mainHeader .searchHolder input::-moz-placeholder {
        color: #fff; }
      .mainHeader .searchHolder input:-moz-placeholder {
        color: #fff; }
      .mainHeader .searchHolder input:-ms-input-placeholder {
        color: #fff; }
  .mainHeader .leftBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .mainHeader .messages a,
  .mainHeader .notifications a {
    position: relative; }
  .mainHeader .messages .qnt,
  .mainHeader .notifications .qnt {
    position: absolute;
    background: #FF7043;
    color: #fff;
    font-size: 9px;
    padding: 2px 6px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    top: 8px;
    right: 5px; }
  .mainHeader .logOut .fa {
    margin-right: 5px; }

.pageWrapper {
  margin-top: 60px;
  background: #f5f5f5;
  -webkit-transition: all .5s;
  transition: all .5s;
  min-height: -webkit-calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  position: relative;
  padding-bottom: 60px; }
  .pageWrapper.min {
    margin-left: 240px; }

.sideBar {
  height: 100%;
  margin-top: 60px;
  position: fixed;
  width: 240px;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: .1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  .sideBar.in {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  .sideBar .logoHolder {
    background: #009687;
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #009687), color-stop(2%, #009687), color-stop(12%, #009687), color-stop(38%, #00bfa6), color-stop(40%, #00bfa6), color-stop(65%, #009687), color-stop(72%, #009687), color-stop(72%, #00bfa6), color-stop(72%, #009687), color-stop(92%, #00bfa6), color-stop(100%, #00bfa6));
    background: -webkit-linear-gradient(-45deg, #009687 0%, #009687 2%, #009687 12%, #00bfa6 38%, #00bfa6 40%, #009687 65%, #009687 72%, #00bfa6 72%, #009687 72%, #00bfa6 92%, #00bfa6 100%);
    background: -webkit-linear-gradient(315deg, #009687 0%, #009687 2%, #009687 12%, #00bfa6 38%, #00bfa6 40%, #009687 65%, #009687 72%, #00bfa6 72%, #009687 72%, #00bfa6 92%, #00bfa6 100%);
    background: linear-gradient(135deg, #009687 0%, #009687 2%, #009687 12%, #00bfa6 38%, #00bfa6 40%, #009687 65%, #009687 72%, #00bfa6 72%, #009687 72%, #00bfa6 92%, #00bfa6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009687', endColorstr='#00bfa6', GradientType=1 );
    height: 160px;
    padding: 15px;
    color: #fff; }
    .sideBar .logoHolder .userAva {
      width: 70px;
      height: 70px;
      background-size: cover;
      background-position: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-bottom: 5px; }
    .sideBar .logoHolder .userName {
      font-size: 18px; }
    .sideBar .logoHolder .userPos {
      opacity: .75;
      font-size: 12px; }
  .sideBar .menuList {
    height: 100%; }
    .sideBar .menuList .menu {
      list-style: none;
      padding: 0; }
      .sideBar .menuList .menu > li > a {
        color: #757575;
        text-decoration: none;
        font-size: 16px;
        display: block;
        -webkit-transition: .3s;
        transition: .3s;
        padding: 15px;
        font-weight: 300; }
        .sideBar .menuList .menu > li > a:hover, .sideBar .menuList .menu > li > a:focus, .sideBar .menuList .menu > li > a:active {
          color: #fff;
          background: #00BFA5; }
        .sideBar .menuList .menu > li > a i {
          margin-right: 10px;
          width: 15px; }
      .sideBar .menuList .menu > li .innerMenu {
        list-style: none;
        background: #f5f5f5; }
        .sideBar .menuList .menu > li .innerMenu a {
          padding: 5px 40px;
          display: block;
          color: #757575; }
          .sideBar .menuList .menu > li .innerMenu a:hover, .sideBar .menuList .menu > li .innerMenu a:focus, .sideBar .menuList .menu > li .innerMenu a:active {
            color: #212121;
            text-decoration: none; }

.pageHeading {
  padding: 15px 25px;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  .pageHeading h2 {
    font-weight: 300;
    font-size: 32px;
    color: #757575; }

.breadcrumb {
  padding: 10px 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 0;
          border-radius: 0; }
  .breadcrumb a {
    color: #757575; }
  .breadcrumb .active {
    color: #212121; }

.contentWrapper {
  padding: 30px 50px; }

.pageBlock {
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  padding: 15px;
  background: #fff;
  margin-bottom: 30px; }

.profileDetailsHolder .companyRatingMinList {
  margin-top: 20px;
  list-style: none; }
  .profileDetailsHolder .companyRatingMinList > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .profileDetailsHolder .companyRatingMinList > li + li {
    margin-top: 10px; }
  .profileDetailsHolder .companyRatingMinList .info {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .profileDetailsHolder .companyRatingMinList .info li {
      color: #757575; }
      .profileDetailsHolder .companyRatingMinList .info li .fa {
        margin-right: 5px; }
    .profileDetailsHolder .companyRatingMinList .info li + li {
      margin-left: 15px; }
  .profileDetailsHolder .companyRatingMinList .name {
    width: 120px; }

.profileDetailsHolder .userImgHolder {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .profileDetailsHolder .userImgHolder:hover .editImg {
    opacity: 1; }
  .profileDetailsHolder .userImgHolder .img {
    max-width: 100%;
    display: block; }
  .profileDetailsHolder .userImgHolder .editImg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s; }
    .profileDetailsHolder .userImgHolder .editImg:hover {
      background: rgba(0, 0, 0, 0.95); }
    .profileDetailsHolder .userImgHolder .editImg a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px;
      text-align: center; }
      .profileDetailsHolder .userImgHolder .editImg a i {
        margin-right: 10px; }

.profileDetailsHolder .userName {
  font-size: 20px; }

.profileDetailsHolder .userPos {
  color: #757575;
  opacity: .75;
  font-size: 12px; }

.profileDetailsHolder .userInfo {
  margin-bottom: 15px; }

.profileDetailsHolder .userContactsList {
  list-style: none; }
  .profileDetailsHolder .userContactsList li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    opacity: .75; }
    .profileDetailsHolder .userContactsList li .ico {
      font-size: 18px;
      margin-right: 10px;
      width: 20px; }
  .profileDetailsHolder .userContactsList li + li {
    margin-top: 5px; }

.profilePage .userInfoBlock {
  margin-bottom: 30px; }
  .profilePage .userInfoBlock .caption {
    color: #757575;
    padding-left: 30px; }
  .profilePage .userInfoBlock .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
    .profilePage .userInfoBlock .heading .edit {
      display: block;
      padding: 5px 10px;
      min-width: 50px;
      text-align: center;
      font-size: 18px;
      color: #757575;
      opacity: .75;
      -webkit-transition: .2s;
      transition: .2s; }
      .profilePage .userInfoBlock .heading .edit:hover, .profilePage .userInfoBlock .heading .edit:focus, .profilePage .userInfoBlock .heading .edit:active {
        background: #f5f5f5;
        opacity: .9; }
  .profilePage .userInfoBlock h2 {
    font-size: 22px;
    font-weight: 300; }
    .profilePage .userInfoBlock h2 i {
      width: 20px;
      margin-right: 10px; }

.profileTabsHolder {
  padding: 0; }
  .profileTabsHolder .navTabs {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-bottom: 2px solid #f5f5f5; }
    .profileTabsHolder .navTabs a {
      display: block;
      padding: 10px 40px;
      color: #757575;
      text-decoration: none;
      -webkit-transition: .3s;
      transition: .3s;
      font-size: 16px;
      position: relative; }
      .profileTabsHolder .navTabs a:after {
        content: "";
        display: block;
        height: 2px;
        background: #f5f5f5;
        width: 100%;
        bottom: -2px;
        left: 0;
        position: absolute;
        -webkit-transition: .3s;
        transition: .3s; }
    .profileTabsHolder .navTabs li.active a {
      color: #212121; }
      .profileTabsHolder .navTabs li.active a:after {
        background: #FF5252; }
  .profileTabsHolder .tabContent .tabPane {
    padding: 20px;
    display: none; }
    .profileTabsHolder .tabContent .tabPane.active {
      display: block; }
  .profileTabsHolder .tHolder {
    display: table; }
    .profileTabsHolder .tHolder .tRow {
      display: table-row; }
      .profileTabsHolder .tHolder .tRow .tCell:first-child {
        width: 200px; }
      .profileTabsHolder .tHolder .tRow .tCell:last-child {
        color: #212121; }
    .profileTabsHolder .tHolder .tCell {
      display: table-cell;
      font-size: 14px;
      padding: 10px 10px; }

.stdFormHolder .form-control {
  -webkit-border-radius: 1px;
          border-radius: 1px; }
  .stdFormHolder .form-control:focus {
    border-color: #00BFA5;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 191, 165, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 191, 165, 0.6); }

.stdFormHolder label {
  margin-bottom: 5px;
  font-weight: 400;
  color: #757575; }

.stdFormHolder .form-group.hasError .form-control {
  border-color: #FF5252; }

.stdFormHolder .form-group.hasError label {
  color: #FF5252; }

.stdFormHolder .form-group.hasSuccess .form-control {
  border-color: #00BFA5; }

.stdFormHolder .form-group.hasSuccess label {
  color: #00BFA5; }

.stdFormHolder .checkbox label {
  cursor: pointer;
  padding-left: 0; }

.stdFormHolder .checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none; }

.stdFormHolder .checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 1px;
  padding-right: 5px;
  display: inline-block; }
  .stdFormHolder .checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.54);
    overflow: hidden;
    z-index: 1;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    .stdFormHolder .checkbox .checkbox-material .check:before {
      position: absolute;
      content: "";
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      display: block;
      margin-top: -3px;
      margin-left: 7px;
      width: 0;
      height: 0; }

.stdFormHolder .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
          box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.2s forwards;
          animation: checkbox-on 0.2s forwards; }

.stdFormHolder .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #00BFA5; }

.stdFormHolder .radio label {
  cursor: pointer;
  padding-left: 30px;
  position: relative; }
  .stdFormHolder .radio label span {
    display: block;
    position: absolute;
    left: 3px;
    top: 2px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .stdFormHolder .radio label .circle {
    border: 1px solid rgba(0, 0, 0, 0.54);
    height: 15px;
    width: 15px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }
  .stdFormHolder .radio label .check {
    height: 15px;
    width: 15px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-color: #00BFA5;
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0); }

.stdFormHolder .radio input[type=radio] {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden; }

.stdFormHolder .radio input[type=radio]:checked ~ .check, .stdFormHolder .radio input[type=radio]:checked ~ .circle {
  opacity: 1; }

.stdFormHolder .radio input[type=radio]:checked ~ .circle {
  border-color: #00BFA5; }

.stdFormHolder .radio input[type=radio]:checked ~ .check {
  background-color: #00BFA5; }

.stdFormHolder .radio input[type=radio]:checked ~ .check {
  -webkit-transform: scale3d(0.65, 0.65, 1);
          transform: scale3d(0.65, 0.65, 1); }

.stdFormHolder .buttonHolder {
  padding: 30px 0; }

@-webkit-keyframes checkbox-on {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px; }
  50% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px; }
  100% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px; } }

@keyframes checkbox-on {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px; }
  50% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px; }
  100% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px; } }

.button {
  display: inline-block;
  padding: 12px 30px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid;
  text-align: center; }
  .button.btnSm {
    padding: 4px 16px; }
  .button.fullWidth {
    width: 100%; }
  .button.rounded {
    -webkit-border-radius: 30px;
            border-radius: 30px; }
  .button.btnDefault {
    border-color: #757575;
    background: #757575;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .button.btnDefault:hover, .button.btnDefault:active, .button.btnDefault:focus {
      -webkit-box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      color: #fff; }
  .button.btnPrimary {
    background: #00BFA5;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
    color: #fff;
    border-color: #00BFA5; }
    .button.btnPrimary:hover, .button.btnPrimary:active, .button.btnPrimary:focus {
      -webkit-box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
              box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
      text-decoration: none; }
  .button.btnSecondary {
    background: #FF5252;
    -webkit-box-shadow: 0 2px 2px 0 rgba(255, 82, 82, 0.14), 0 3px 1px -2px rgba(255, 82, 82, 0.2), 0 1px 5px 0 rgba(255, 82, 82, 0.12);
            box-shadow: 0 2px 2px 0 rgba(255, 82, 82, 0.14), 0 3px 1px -2px rgba(255, 82, 82, 0.2), 0 1px 5px 0 rgba(255, 82, 82, 0.12);
    color: #fff;
    border-color: #FF5252; }
    .button.btnSecondary:hover, .button.btnSecondary:active, .button.btnSecondary:focus {
      -webkit-box-shadow: 0 14px 26px -12px rgba(255, 82, 82, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 82, 82, 0.2);
              box-shadow: 0 14px 26px -12px rgba(255, 82, 82, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 82, 82, 0.2);
      text-decoration: none; }
  .button.btnGhost {
    background: transparent;
    border-color: #e0e0e0;
    color: #757575;
    -webkit-box-shadow: 0 0 0 0 transparent;
            box-shadow: 0 0 0 0 transparent; }
    .button.btnGhost:hover, .button.btnGhost:active, .button.btnGhost:focus {
      -webkit-box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
              box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;
      text-decoration: none;
      border-color: #757575; }
    .button.btnGhost.btnPrimary {
      border-color: #00BFA5;
      color: #00BFA5;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
              box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12); }
      .button.btnGhost.btnPrimary:hover, .button.btnGhost.btnPrimary:active, .button.btnGhost.btnPrimary:focus {
        -webkit-box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
                box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2); }
    .button.btnGhost.btnSecondary {
      border-color: #FF5252;
      color: #FF5252;
      -webkit-box-shadow: 0 2px 2px 0 rgba(255, 82, 82, 0.14), 0 3px 1px -2px rgba(255, 82, 82, 0.2), 0 1px 5px 0 rgba(255, 82, 82, 0.12);
              box-shadow: 0 2px 2px 0 rgba(255, 82, 82, 0.14), 0 3px 1px -2px rgba(255, 82, 82, 0.2), 0 1px 5px 0 rgba(255, 82, 82, 0.12); }
      .button.btnGhost.btnSecondary:hover, .button.btnGhost.btnSecondary:active, .button.btnGhost.btnSecondary:focus {
        -webkit-box-shadow: 0 14px 26px -12px rgba(255, 82, 82, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 82, 82, 0.2);
                box-shadow: 0 14px 26px -12px rgba(255, 82, 82, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 82, 82, 0.2);
        text-decoration: none; }

.mainFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  background: #fff;
  padding: 20px 50px;
  width: 100%;
  color: #757575; }

.loginHolder {
  max-width: 380px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px; }
  .loginHolder .heading {
    margin-bottom: 20px; }
    .loginHolder .heading p {
      color: #757575;
      font-size: 12px; }
  .loginHolder h2 {
    font-weight: 500;
    font-size: 22px;
    color: #757575;
    margin-bottom: 5px; }
  .loginHolder .btnPrimary {
    margin-bottom: 10px; }
  .loginHolder .forgetPassLink {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px; }
  .loginHolder .btnGhost {
    margin: auto;
    margin-top: 10px; }
  .loginHolder small {
    color: #757575;
    font-size: 12px;
    margin-bottom: 20px; }
  .loginHolder .copyright {
    font-size: 12px;
    color: #757575;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 0 15px;
    padding-top: 10px; }

.fadeIn {
  -webkit-animation: fadeIn ease .8s;
          animation: fadeIn ease .8s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.fofHolder {
  max-width: 460px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px; }
  .fofHolder h2 {
    font-size: 160px;
    margin-bottom: 0;
    font-weight: 300;
    color: #757575;
    text-align: center; }
  .fofHolder h3 {
    text-align: center;
    color: #757575;
    margin-bottom: 30px; }
  .fofHolder .heading p {
    color: #757575;
    font-size: 12px;
    margin-bottom: 10px; }
  .fofHolder .form-inline {
    text-align: center; }
  .fofHolder .button {
    padding: 7px 30px;
    font-size: 13px; }
  .fofHolder .copyright {
    font-size: 12px;
    color: #757575;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 0 15px;
    padding-top: 10px; }

.companiesPage .customHeading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .companiesPage .customHeading .icoHolder {
    color: #00BFA5;
    font-size: 72px;
    margin-right: 20px; }
  .companiesPage .customHeading p {
    color: #757575; }
  .companiesPage .customHeading h2 {
    font-weight: 300;
    font-size: 24px;
    color: #757575; }
  .companiesPage .customHeading .caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

h2 {
  font-size: 22px; }

.companiesListHolder {
  padding: 0; }
  .companiesListHolder .filter {
    padding: 10px 15px;
    border-bottom: 2px solid #f5f5f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .companiesListHolder .filter > ul {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .companiesListHolder .filter > ul a {
        color: #212121; }
    .companiesListHolder .filter .viewType {
      font-size: 24px;
      margin-right: 30px; }
      .companiesListHolder .filter .viewType a {
        color: #757575;
        text-decoration: none;
        -webkit-transition: .2s;
        transition: .2s; }
        .companiesListHolder .filter .viewType a:hover, .companiesListHolder .filter .viewType a:active, .companiesListHolder .filter .viewType a:focus {
          color: #212121; }
      .companiesListHolder .filter .viewType .active a {
        color: #00BFA5; }
      .companiesListHolder .filter .viewType li + li {
        margin-left: 10px; }
    .companiesListHolder .filter .filterByHeading {
      margin-right: 10px; }
    .companiesListHolder .filter .sortName,
    .companiesListHolder .filter .sortRating {
      margin-right: 30px; }
      .companiesListHolder .filter .sortName a,
      .companiesListHolder .filter .sortRating a {
        color: #757575;
        text-decoration: none;
        -webkit-transition: .2s;
        transition: .2s; }
        .companiesListHolder .filter .sortName a:hover, .companiesListHolder .filter .sortName a:active, .companiesListHolder .filter .sortName a:focus,
        .companiesListHolder .filter .sortRating a:hover,
        .companiesListHolder .filter .sortRating a:active,
        .companiesListHolder .filter .sortRating a:focus {
          color: #212121; }
      .companiesListHolder .filter .sortName .active a,
      .companiesListHolder .filter .sortRating .active a {
        color: #00BFA5; }
      .companiesListHolder .filter .sortName > li + li,
      .companiesListHolder .filter .sortRating > li + li {
        margin-left: 15px; }
      .companiesListHolder .filter .sortName .controls,
      .companiesListHolder .filter .sortRating .controls {
        display: inline-block;
        list-style: none; }
        .companiesListHolder .filter .sortName .controls li,
        .companiesListHolder .filter .sortRating .controls li {
          display: inline-block; }
  .companiesListHolder .listItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px; }
    .companiesListHolder .listItem a {
      text-decoration: none;
      -webkit-transition: .2s;
      transition: .2s; }
      .companiesListHolder .listItem a:hover, .companiesListHolder .listItem a:focus, .companiesListHolder .listItem a:active {
        color: #00BFA5; }
    .companiesListHolder .listItem .logoHolder {
      width: 100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .companiesListHolder .listItem .logoHolder img {
        max-width: 100%;
        max-height: 100%; }
    .companiesListHolder .listItem .companyInfo {
      width: -webkit-calc(50% - 50px);
      width: calc(50% - 50px);
      padding-left: 10px; }
      .companiesListHolder .listItem .companyInfo h3 {
        margin-bottom: 5px; }
        .companiesListHolder .listItem .companyInfo h3 a {
          font-size: 22px;
          color: #212121;
          font-weight: 300; }
          .companiesListHolder .listItem .companyInfo h3 a:hover, .companiesListHolder .listItem .companyInfo h3 a:focus, .companiesListHolder .listItem .companyInfo h3 a:active {
            color: #00BFA5; }
      .companiesListHolder .listItem .companyInfo p {
        color: #757575;
        font-size: 12px; }
    .companiesListHolder .listItem .ratingHolder {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding-left: 10px;
      width: -webkit-calc(50% - 50px);
      width: calc(50% - 50px); }
    .companiesListHolder .listItem .stat {
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .companiesListHolder .listItem .stat li a {
        white-space: nowrap;
        color: #757575;
        font-size: 12px; }
        .companiesListHolder .listItem .stat li a:hover, .companiesListHolder .listItem .stat li a:focus, .companiesListHolder .listItem .stat li a:active {
          color: #00BFA5; }
        .companiesListHolder .listItem .stat li a .fa {
          font-size: 14px;
          margin-right: 2px; }
      .companiesListHolder .listItem .stat li + li {
        margin-left: 10px; }
    .companiesListHolder .listItem .ratingFigure .name {
      text-align: center; }
      .companiesListHolder .listItem .ratingFigure .name a {
        color: #212121; }
        .companiesListHolder .listItem .ratingFigure .name a:hover, .companiesListHolder .listItem .ratingFigure .name a:focus, .companiesListHolder .listItem .ratingFigure .name a:active {
          color: #00BFA5; }
    .companiesListHolder .listItem .ratingFigure + .ratingFigure {
      margin-left: 20px; }
  .companiesListHolder .listItem:nth-child(even) {
    background: #fafafa; }

.pagination {
  margin: 30px 0; }
  .pagination > li.active a {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
    background: #00BFA5; }
  .pagination > li > a {
    border: 0;
    color: #212121;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s; }

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 0;
          border-radius: 0; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #fff;
  background: #00BFA5;
  -webkit-box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
          box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
  border-color: #212121; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #00BFA5;
  -webkit-box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
          box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2); }

.companyInfoBlock {
  margin-bottom: 30px; }
  .companyInfoBlock .caption {
    color: #757575;
    padding-left: 30px; }
  .companyInfoBlock .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
    .companyInfoBlock .heading .edit {
      display: block;
      padding: 5px 10px;
      min-width: 50px;
      text-align: center;
      font-size: 18px;
      color: #757575;
      opacity: .75;
      -webkit-transition: .2s;
      transition: .2s; }
      .companyInfoBlock .heading .edit:hover, .companyInfoBlock .heading .edit:focus, .companyInfoBlock .heading .edit:active {
        background: #f5f5f5;
        opacity: .9; }
  .companyInfoBlock h2 {
    font-size: 22px;
    font-weight: 300; }
    .companyInfoBlock h2 i {
      width: 20px;
      margin-right: 10px; }

textarea {
  resize: none; }

.apiKeyList {
  list-style: none; }
  .apiKeyList li {
    font-size: 16px; }
  .apiKeyList .key {
    color: #212121; }
  .apiKeyList li + li {
    margin-top: 10px; }

.tagsList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -5px;
  list-style: none; }
  .tagsList li {
    padding: 5px; }
    .tagsList li a {
      display: block;
      font-size: 12px;
      color: #fff;
      background: #FF7043;
      padding: 2px 10px; }
      .tagsList li a .fa {
        margin-right: 5px; }

.companyRatingPage .headingStatHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }
  .companyRatingPage .headingStatHolder .qnt {
    font-size: 22px;
    display: block;
    margin-right: 10px; }
  .companyRatingPage .headingStatHolder .stat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .companyRatingPage .headingStatHolder .comments {
    color: #757575; }

.companyRatingPage .starsHolder {
  margin-right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .companyRatingPage .starsHolder.xs .star {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    .companyRatingPage .starsHolder.xs .star .fa {
      font-size: 10px; }
  .companyRatingPage .starsHolder .star {
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    position: relative;
    background: #a6a6a6;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    overflow: hidden; }
    .companyRatingPage .starsHolder .star .bg {
      position: absolute;
      background: #FF7043;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .companyRatingPage .starsHolder .star .fa {
      position: relative;
      z-index: 2; }
    .companyRatingPage .starsHolder .star:nth-child(5) .bg {
      width: 50%; }
  .companyRatingPage .starsHolder .star + .star {
    margin-left: 5px; }

.companyRatingPage .reviewsHolder {
  overflow-y: auto;
  height: 460px;
  border-top: 1px solid #e0e0e0; }

.companyRatingPage .reviewItem {
  padding: 15px 15px 15px 0; }
  .companyRatingPage .reviewItem .heading {
    margin-bottom: 15px; }
    .companyRatingPage .reviewItem .heading .name {
      font-size: 18px;
      margin-bottom: 3px; }
      .companyRatingPage .reviewItem .heading .name a {
        color: #212121; }
    .companyRatingPage .reviewItem .heading .statInfo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .companyRatingPage .reviewItem .heading .date {
      font-size: 12px;
      color: #757575;
      line-height: 12px; }
  .companyRatingPage .reviewItem .text {
    color: #757575; }
    .companyRatingPage .reviewItem .text p {
      color: #757575;
      font-size: 12px; }

.companyRatingPage .reviewItem + .reviewItem {
  border-top: 1px solid #f5f5f5; }

.modal-content {
  -webkit-border-radius: 0;
          border-radius: 0; }
  .modal-content .modal-header {
    background: #00BFA5;
    color: #fff; }
    .modal-content .modal-header h4 {
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      font-weight: 400; }
  .modal-content .modalBody {
    padding: 15px; }

.mailboxMenuHolder .btnPrimary {
  margin-bottom: 30px; }

.mailboxMenuHolder h4 {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #757575;
  margin-bottom: 10px; }

.mailboxMenuHolder .mailBoxMenu {
  list-style: none; }
  .mailboxMenuHolder .mailBoxMenu li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #757575;
    text-decoration: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 7px 0; }
    .mailboxMenuHolder .mailBoxMenu li a:hover, .mailboxMenuHolder .mailBoxMenu li a:active, .mailboxMenuHolder .mailBoxMenu li a:focus {
      color: #212121; }
    .mailboxMenuHolder .mailBoxMenu li a .fa {
      width: 20px;
      margin-right: 5px; }
  .mailboxMenuHolder .mailBoxMenu li .qnt {
    background: #FF7043;
    color: #fff;
    font-size: 9px;
    padding: 4px 6px;
    -webkit-border-radius: 2px;
            border-radius: 2px; }

.mailBoxPage h2 {
  font-weight: 300;
  font-size: 24px;
  color: #757575;
  margin-bottom: 20px; }
  .mailBoxPage h2 a {
    color: #757575; }

.mailBoxPage .controlsHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }
  .mailBoxPage .controlsHolder ul {
    list-style: none; }
    .mailBoxPage .controlsHolder ul a {
      color: #757575;
      font-size: 16px;
      padding: 5px 10px;
      border: 1px solid #e0e0e0;
      -webkit-transition: .2s;
      transition: .2s;
      text-decoration: none;
      display: block; }
      .mailBoxPage .controlsHolder ul a:hover, .mailBoxPage .controlsHolder ul a:active, .mailBoxPage .controlsHolder ul a:focus {
        color: #5c5c5c;
        border-color: #c7c7c7; }
    .mailBoxPage .controlsHolder ul li + li {
      margin-left: 10px; }
  .mailBoxPage .controlsHolder .controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .mailBoxPage .controlsHolder .controls li:first-child .fa {
      margin-right: 5px; }
  .mailBoxPage .controlsHolder .paginationControls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.mailBoxPage .emailsListHolder {
  margin: 0 -15px -15px; }

.mailBoxPage .emailsTable {
  width: 100%; }
  .mailBoxPage .emailsTable tr.unreadMail, .mailBoxPage .emailsTable tr:hover {
    background: #f5f5f5; }
  .mailBoxPage .emailsTable td {
    padding: 12px;
    font-weight: 600;
    color: #757575;
    font-size: 13px;
    border-top: 1px solid #e0e0e0; }
    .mailBoxPage .emailsTable td a {
      color: #757575; }
      .mailBoxPage .emailsTable td a:hover, .mailBoxPage .emailsTable td a:focus, .mailBoxPage .emailsTable td a:active {
        text-decoration: none; }
  .mailBoxPage .emailsTable .checkMail {
    width: 47px;
    padding-left: 15px; }
  .mailBoxPage .emailsTable .mailDate {
    text-align: right; }

.mailBoxPage .checkbox {
  margin: 0; }
  .mailBoxPage .checkbox label {
    cursor: pointer;
    padding-left: 0; }
  .mailBoxPage .checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none; }
  .mailBoxPage .checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    padding-right: 0;
    display: inline-block;
    line-height: 0; }
    .mailBoxPage .checkbox .checkbox-material .check {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      overflow: hidden;
      z-index: 1;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .mailBoxPage .checkbox .checkbox-material .check:before {
        position: absolute;
        content: "";
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        display: block;
        margin-top: -3px;
        margin-left: 7px;
        width: 0;
        height: 0; }

.mailBoxPage .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #00BFA5;
  -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
          box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.2s forwards;
          animation: checkbox-on 0.2s forwards; }

.mailBoxPage .checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #fff;
  border-color: #00BFA5; }

.mailBoxPage .headingWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .mailBoxPage .headingWrapper .controls li:first-child .fa {
    margin-right: 0; }
  .mailBoxPage .headingWrapper .controlsHolder,
  .mailBoxPage .headingWrapper h2 {
    margin-bottom: 0; }

.mailBoxPage .emailInfoBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
  color: #757575; }
  .mailBoxPage .emailInfoBlock .bold {
    font-weight: 600; }
  .mailBoxPage .emailInfoBlock .subject {
    font-size: 16px;
    margin-bottom: 5px; }
  .mailBoxPage .emailInfoBlock .from {
    font-size: 12px; }

.mailBoxPage .emailTextHolder {
  border-top: 1px solid #e0e0e0;
  margin: 0 -15px -15px; }
  .mailBoxPage .emailTextHolder .text {
    padding: 15px; }
    .mailBoxPage .emailTextHolder .text p {
      color: #676a6c;
      font-size: 14px;
      margin-bottom: 10px; }
    .mailBoxPage .emailTextHolder .text .fishImg {
      max-width: 100%; }

.mailBoxPage .composeEmailForm .stdFormHolder label {
  text-align: right;
  display: block;
  margin-bottom: 0;
  line-height: 34px;
  font-weight: 600; }

.mailBoxPage .buttonHolder {
  border-top: 1px solid #e0e0e0;
  margin: 0 -15px -15px;
  padding: 15px;
  text-align: right; }
  .mailBoxPage .buttonHolder .fa {
    margin-right: 5px; }
