* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none!important;
}

html {
  font-size: 10px;
}

body {
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $fontSize;
  overflow-x: hidden;
}

.mainContainer {
  margin: auto;
  padding: 0 15px;
}

.mainHeader {
  position: fixed;
  background: $primaryColor;
  color: #fff;
  width: 100%;
  left: 0;
  top: 0;
  padding: 4px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  z-index: 200;
  a {
    color: #fff;
    font-size: 1.6rem;
    transition: all .3s;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .linkList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    li {
      a {
        display: block;
        padding: 15px 10px;
        min-width: 50px;
        text-align: center;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          background: darken($primaryColor, 1.2);
        }
      }
    }
  }
  .menuButtonHolder {
    a {
      display: block;
      padding: 15px 10px;
      min-width: 50px;
      text-align: center;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        background: darken($primaryColor, 1.2);
      }
    }
  }
  .searchHolder {
    position: relative;
    input {
      width: 200px;
      background: transparent;
      border: 0;
      box-shadow: none;
      outline: none;
      font-size: 16px;
      color: #fff;
      padding: 6px 12px;
      &::-webkit-input-placeholder {color:#fff;}
      &::-moz-placeholder          {color:#fff;}
      &:-moz-placeholder           {color:#fff;}
      &:-ms-input-placeholder      {color:#fff;}
    }
  }
  .leftBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .messages,
  .notifications {
    a {
      position: relative;
    }
    .qnt {
      position: absolute;
      background: $yellow;
      color: #fff;
      font-size: 9px;
      padding: 2px 6px;
      border-radius: 2px;
      top: 8px;
      right: 5px;
    }
  }
  .logOut {
    .fa {
      margin-right: 5px;
    }
  }
}

.pageWrapper {
  margin-top: 60px;
  background: $grey;
  transition: all .5s;
  min-height: calc(100vh - 60px);
  position: relative;
  padding-bottom: 60px;
  &.min {
    margin-left: 240px;
  }
}

.sideBar {
  height: 100%;
  margin-top: 60px;
  position: fixed;
  width: 240px;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: .1;
  transition: .5s;
  transform: translateX(-100%);
  @include blockShadow();
  &.in {
    transform: translateX(0);
    opacity: 1;
  }
  .logoHolder {
    background: rgba(0,150,135,1);
    background: -moz-linear-gradient(-45deg, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 2%, rgba(0,150,135,1) 12%, rgba(0,191,166,1) 38%, rgba(0,191,166,1) 40%, rgba(0,150,135,1) 65%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 72%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 92%, rgba(0,191,166,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,150,135,1)), color-stop(2%, rgba(0,150,135,1)), color-stop(12%, rgba(0,150,135,1)), color-stop(38%, rgba(0,191,166,1)), color-stop(40%, rgba(0,191,166,1)), color-stop(65%, rgba(0,150,135,1)), color-stop(72%, rgba(0,150,135,1)), color-stop(72%, rgba(0,191,166,1)), color-stop(72%, rgba(0,150,135,1)), color-stop(92%, rgba(0,191,166,1)), color-stop(100%, rgba(0,191,166,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 2%, rgba(0,150,135,1) 12%, rgba(0,191,166,1) 38%, rgba(0,191,166,1) 40%, rgba(0,150,135,1) 65%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 72%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 92%, rgba(0,191,166,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 2%, rgba(0,150,135,1) 12%, rgba(0,191,166,1) 38%, rgba(0,191,166,1) 40%, rgba(0,150,135,1) 65%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 72%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 92%, rgba(0,191,166,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 2%, rgba(0,150,135,1) 12%, rgba(0,191,166,1) 38%, rgba(0,191,166,1) 40%, rgba(0,150,135,1) 65%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 72%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 92%, rgba(0,191,166,1) 100%);
    background: linear-gradient(135deg, rgba(0,150,135,1) 0%, rgba(0,150,135,1) 2%, rgba(0,150,135,1) 12%, rgba(0,191,166,1) 38%, rgba(0,191,166,1) 40%, rgba(0,150,135,1) 65%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 72%, rgba(0,150,135,1) 72%, rgba(0,191,166,1) 92%, rgba(0,191,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009687', endColorstr='#00bfa6', GradientType=1 );
    height: 160px;
    padding: 15px;
    color: #fff;
    .userAva {
      width: 70px;
      height: 70px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin-bottom: 5px;
    }
    .userName {
      font-size: 18px;
    }
    .userPos {
      opacity: .75;
      font-size: 12px;
    }
  }
  .menuList {
    height: 100%;
    .menu {
      list-style: none;
      padding: 0;
      & > li {
        & > a {
          color: $fontSecondaryColor;
          text-decoration: none;
          font-size: 16px;
          display: block;
          transition: .3s;
          padding: 15px;
          font-weight: 300;
          &:hover,
          &:focus,
          &:active {
            color: #fff;
            background: $primaryColor;
          }
          i {
            margin-right: 10px;
            width: 15px;
          }
        }
        .innerMenu {
          list-style: none;
          background: $grey;
          a {
            padding: 5px 40px;
            display: block;
            color: $fontSecondaryColor;
            &:hover,
            &:focus,
            &:active {
              color: $fontColor;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.pageHeading {
  h2 {
    font-weight: 300;
    font-size: 32px;
    color: $fontSecondaryColor;
  }
  padding: 15px 25px;
  background: #fff;
  @include blockShadow();
}

.breadcrumb {
  padding: 10px 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  a {
    color: $fontSecondaryColor;
  }
  .active {
    color: $fontColor;
  }
}

.contentWrapper {
  padding: 30px 50px;
}

.pageBlock {
  @include blockShadow();
  padding: 15px;
  background: #fff;
  margin-bottom: 30px;
}
.profileDetailsHolder {
  .companyRatingMinList {
    margin-top: 20px;
    list-style: none;
    & > li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    & > li + li {
      margin-top: 10px;
    }
    .info {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      li {
        color: $fontSecondaryColor;
        .fa {
          margin-right: 5px;
        }
      }
      li + li {
        margin-left: 15px;
      }
    }
    .name {
      width: 120px;
    }
  }
  .userImgHolder {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .editImg {
        opacity: 1;
      }
    }
    .img {
      max-width: 100%;
      display: block;
    }
    .editImg {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.7);
      opacity: 0;
      transition: .3s;
      &:hover {
        background: rgba(0,0,0,.95);
      }
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px;
        text-align: center;
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .userName {
    font-size: 20px;
  }
  .userPos {
    color: $fontSecondaryColor;
    opacity: .75;
    font-size: 12px;
  }
  .userInfo {
    margin-bottom: 15px;
  }
  .userContactsList {
    list-style: none;
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity: .75;
      .ico {
        font-size:18px;
        margin-right: 10px;
        width: 20px;
      }
    }
    li + li {
      margin-top: 5px;
    }
  }
}
.profilePage {
  .userInfoBlock {
    margin-bottom: 30px;
    .caption {
      color: $fontSecondaryColor;
      padding-left: 30px;
    }
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .edit {
        display: block;
        padding: 5px 10px;
        min-width: 50px;
        text-align: center;
        font-size: 18px;
        color: $fontSecondaryColor;
        opacity: .75;
        transition: .2s;
        &:hover,
        &:focus,
        &:active {
          background: $grey;
          opacity: .9;
        }
      }
    }
    h2 {
      font-size: 22px;
      font-weight: 300;
      i {
        width: 20px;
        margin-right: 10px;
      }
    }
  }


}

.profileTabsHolder {
  padding: 0;
  .navTabs {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid $grey;
    a {
      display: block;
      padding: 10px 40px;
      color: $fontSecondaryColor;
      text-decoration: none;
      transition: .3s;
      font-size: 16px;
      position: relative;
      &:after {
        content: "";
        display: block;
        height: 2px;
        background: $grey;
        width: 100%;
        bottom: -2px;
        left: 0;
        position: absolute;
        transition: .3s;
      }
    }
    li {
      &.active {
        a {
          color: $fontColor;
          &:after {
            background: $secondaryColor;
          }
        }
      }
    }
  }
  .tabContent {
    .tabPane {
      padding: 20px;
      display: none;
      &.active {
        display: block;
      }
    }

  }
  .tHolder {
    display: table;
    .tRow {
      display: table-row;
      & .tCell:first-child {
        width: 200px;
      }
      & .tCell:last-child {
        color: $fontColor;
      }
    }
    .tCell {
      display: table-cell;
      font-size: 14px;
      padding: 10px 10px;
    }
  }
}

.stdFormHolder {
  .form-control {
    border-radius: 1px;
    &:focus {
      border-color: $primaryColor;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 191, 165, .6);
    }
  }
  label {
    margin-bottom: 5px;
    font-weight: 400;
    color: $fontSecondaryColor;
  }
  .form-group {
    &.hasError {
      .form-control {
        border-color: $secondaryColor;
      }
      label {
        color: $secondaryColor;
      }

    }
    &.hasSuccess {
      .form-control {
        border-color: $primaryColor;
      }
      label {
        color: $primaryColor;
      }

    }
  }
  .checkbox {
    label {
      cursor: pointer;
      padding-left: 0;
    }
    input[type=checkbox] {
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: -1;
      width: 0;
      height: 0;
      overflow: hidden;
      left: 0;
      pointer-events: none;
    }
    .checkbox-material {
      vertical-align: middle;
      position: relative;
      top: 1px;
      padding-right: 5px;
      display: inline-block;
      .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0,0,0, .54);
        overflow: hidden;
        z-index: 1;
        border-radius: 3px;
        &:before {
          position: absolute;
          content: "";
          transform: rotate(45deg);
          display: block;
          margin-top: -3px;
          margin-left: 7px;
          width: 0;
          height: 0;
        }
      }
    }
  }
  .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #FFFFFF;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    animation: checkbox-on 0.2s forwards;
  }
  .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: $primaryColor;
  }
  .radio {
    label {
      cursor: pointer;
      padding-left: 30px;
      position: relative;
      span {
        display: block;
        position: absolute;
        left: 3px;
        top: 2px;
        transition-duration: 0.2s;
      }
      .circle {
        border: 1px solid rgba(0,0,0, .54);
        height: 15px;
        width: 15px;
        border-radius: 100%;
      }
      .check {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: $primaryColor;
        transform: scale3d(0,0,0);
      }
    }
    input[type=radio] {
      opacity: 0;
      height: 0;
      width: 0;
      overflow: hidden;
    }
  }
  .radio input[type=radio]:checked ~ .check, .radio input[type=radio]:checked ~ .circle {
    opacity: 1;
  }
  .radio input[type=radio]:checked ~ .circle {
    border-color: $primaryColor;
  }
  .radio input[type=radio]:checked ~ .check {
    background-color: $primaryColor;
  }
  .radio input[type=radio]:checked ~ .check {
    transform: scale3d(0.65, 0.65, 1);
  }
  .buttonHolder {
    padding: 30px 0;
  }
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

.button {
  display: inline-block;
  padding: 12px 30px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  transition: .3s;
  border: 1px solid;
  text-align: center;
  &.btnSm {
    padding: 4px 16px;
  }
  &.fullWidth {
    width: 100%;
  }
  &.rounded {
    border-radius: 30px;
  }
  &.btnDefault {
    border-color: $fontSecondaryColor;
    background: $fontSecondaryColor;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      color: #fff;
    }
  }
  &.btnPrimary {
    background: $primaryColor;
    box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
    color: #fff;
    border-color: $primaryColor;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
      text-decoration: none;
    }
  }
  &.btnSecondary {
    background: $secondaryColor;
    box-shadow: 0 2px 2px 0 rgba(255, 82, 82, 0.14), 0 3px 1px -2px rgba(255, 82, 82, 0.2), 0 1px 5px 0 rgba(255, 82, 82, 0.12);
    color: #fff;
    border-color: $secondaryColor;
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 14px 26px -12px rgba(255, 82, 82, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 82, 82, 0.2);
      text-decoration: none;
    }
  }
  &.btnGhost {
    background: transparent;
    border-color: $greyDark;
    color: $fontSecondaryColor;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
      text-decoration: none;
      border-color: $fontSecondaryColor;
    }
    &.btnPrimary {
      border-color: $primaryColor;
      color: $primaryColor;
      box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
      }
    }
    &.btnSecondary {
      border-color: $secondaryColor;
      color: $secondaryColor;
      box-shadow: 0 2px 2px 0 rgba(255, 82, 82, 0.14), 0 3px 1px -2px rgba(255, 82, 82, 0.2), 0 1px 5px 0 rgba(255, 82, 82, 0.12);
      &:hover,
      &:active,
      &:focus {
        box-shadow: 0 14px 26px -12px rgba(255, 82, 82, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 82, 82, 0.2);
        text-decoration: none;
      }
    }
  }
}

.mainFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  @include blockShadow();
  background: #fff;
  padding: 20px 50px;
  width: 100%;
  color: $fontSecondaryColor;
}

.loginHolder {
  max-width: 380px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  .heading {
    margin-bottom: 20px;
    p {
      color: $fontSecondaryColor;
      font-size: 12px;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 22px;
    color: $fontSecondaryColor;
    margin-bottom: 5px;
  }
  .btnPrimary {
    margin-bottom: 10px;
  }
  .forgetPassLink {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .btnGhost {
    margin: auto;
    margin-top: 10px;
  }
  small {
    color: $fontSecondaryColor;
    font-size: 12px;
    margin-bottom: 20px;
    a {
    }
  }
  .copyright {
    font-size: 12px;
    color: $fontSecondaryColor;
    border-top: 1px solid $greyDark;
    margin-top: 20px;
    padding: 0 15px;
    padding-top: 10px;
  }
}

.fadeIn {
  animation: fadeIn ease .8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fofHolder {
  max-width: 460px;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  h2 {
    font-size: 160px;
    margin-bottom: 0;
    font-weight: 300;
    color: $fontSecondaryColor;
    text-align: center;
  }
  h3 {
    text-align: center;
    color: $fontSecondaryColor;
    margin-bottom: 30px;
  }
  .heading {
    p {
      color: $fontSecondaryColor;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
  .form-inline {
    text-align: center;
  }
  .button {
    padding: 7px 30px;
    font-size: 13px;
  }
  .copyright {
    font-size: 12px;
    color: $fontSecondaryColor;
    border-top: 1px solid $greyDark;
    margin-top: 20px;
    padding: 0 15px;
    padding-top: 10px;
  }
}

.companiesPage {
  .customHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icoHolder {
      color: $primaryColor;
      font-size: 72px;
      margin-right: 20px;
    }
    p {
      color: $fontSecondaryColor;

    }
    h2 {
      font-weight: 300;
      font-size: 24px;
      color: $fontSecondaryColor;
    }
    .caption {
      display: flex;
      align-items: center;
    }
  }
}

h2 {
  font-size: 22px;
}

.companiesListHolder {
  padding: 0;
  .filter {
    padding: 10px 15px;
    border-bottom: 2px solid #f5f5f5;
    display: flex;
    align-items: center;
    & > ul {
      list-style: none;
      display: flex;
      align-items: center;
      a {
        color: $fontColor;
      }
    }
    .viewType {
      font-size: 24px;
      margin-right: 30px;
      a {
        color: $fontSecondaryColor;
        text-decoration: none;
        transition: .2s;
        &:hover,
        &:active,
        &:focus {
          color: $fontColor;
        }
      }
      .active {
        a {
          color: $primaryColor;
        }
      }
      li + li {
        margin-left: 10px;
      }
    }
    .filterByHeading {
      margin-right: 10px;
    }
    .sortName,
    .sortRating {
      margin-right: 30px;
      a {
        color: $fontSecondaryColor;
        text-decoration: none;
        transition: .2s;
        &:hover,
        &:active,
        &:focus {
          color: $fontColor;
        }
      }
      .active {
        a {
          color: $primaryColor;
        }
      }
      & > li + li {
        margin-left: 15px;
      }
      .controls {
        display: inline-block;
        list-style: none;
        li {
          display: inline-block;
        }
      }
    }
  }
  .listItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    a {
      text-decoration: none;
      transition: .2s;
      &:hover,
      &:focus,
      &:active {
        color: $primaryColor;
      }
    }
    .logoHolder {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .companyInfo {
      width: calc(50% - 50px);
      padding-left: 10px;
      h3 {
        margin-bottom: 5px;
        a {
          font-size: 22px;
          color: $fontColor;
          font-weight: 300;
          &:hover,
          &:focus,
          &:active {
            color: $primaryColor;
          }
        }
      }
      p {
        color: $fontSecondaryColor;
        font-size: 12px;
      }
    }
    .ratingHolder {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 10px;
      width: calc(50% - 50px);
    }
    .stat {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        a {
          white-space: nowrap;
          color: $fontSecondaryColor;
          font-size: 12px;
          &:hover,
          &:focus,
          &:active {
            color: $primaryColor;
          }
          .fa {
            font-size: 14px;
            margin-right: 2px;
          }
        }
      }
      li + li {
        margin-left: 10px;
      }
    }
    .ratingFigure {
      .name {
        text-align: center;
        a {
          color: $fontColor;
          &:hover,
          &:focus,
          &:active {
            color: $primaryColor;
          }
        }
        //&.aol {
        //  color: #ff0b00;
        //}
        //&.google {
        //  color: #4285f4;
        //}
        //&.facebook {
        //  color: #3b5998;
        //}
        //&.custom {
        //  color: $secondaryColor;
        //}
      }
    }
    .ratingFigure + .ratingFigure {
      margin-left: 20px;
    }
  }
  .listItem:nth-child(even) {
    background: $greyLight;
  }
}

.pagination {
  margin: 30px 0;
  &>li {
    &.active {
      a {
        box-shadow: 0 2px 2px 0 rgba(0, 191, 165, 0.14), 0 3px 1px -2px rgba(0, 191, 165, 0.2), 0 1px 5px 0 rgba(0, 191, 165, 0.12);
        background: $primaryColor;
      }
    }
    &>a {
      border: 0;
      color: $fontColor;
      cursor: pointer;
      transition: .2s;
    }
  }
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 0;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 2;
  color: #fff;
  background: $primaryColor;
  box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
  border-color: $fontColor;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background: $primaryColor;
  box-shadow: 0 14px 26px -12px rgba(0, 191, 165, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 191, 165, 0.2);
}

.companyInfoBlock {
  margin-bottom: 30px;
  .caption {
    color: $fontSecondaryColor;
    padding-left: 30px;
  }
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .edit {
      display: block;
      padding: 5px 10px;
      min-width: 50px;
      text-align: center;
      font-size: 18px;
      color: $fontSecondaryColor;
      opacity: .75;
      transition: .2s;
      &:hover,
      &:focus,
      &:active {
        background: $grey;
        opacity: .9;
      }
    }
  }
  h2 {
    font-size: 22px;
    font-weight: 300;
    i {
      width: 20px;
      margin-right: 10px;
    }
  }
}

textarea {
  resize: none;
}

.apiKeyList {
  list-style: none;
  li {
    font-size: 16px;
  }
  .key {
    color: $fontColor;
  }
  li + li {
    margin-top: 10px;
  }
}

.tagsList {
  display: flex;
  margin: -5px;
  list-style: none;
  li {
    padding: 5px;
    a {
      display: block;
      font-size: 12px;
      color: #fff;
      background: $yellow;
      padding: 2px 10px;
      .fa {
        margin-right: 5px;
      }
    }
  }
}

.companyRatingPage {
  .headingStatHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .qnt {
      font-size: 22px;
      display: block;
      margin-right: 10px;
    }
    .stat {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .comments {
      color: $fontSecondaryColor;
    }
  }
  .starsHolder {
    margin-right: 10px;
    display: flex;
    align-items: center;
    &.xs {
      .star {
        width: 14px;
        height: 14px;
        border-radius: 3px;
        .fa {
          font-size: 10px;
        }
      }
    }
    .star {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      position: relative;
      background: #a6a6a6;
      border-radius: 5px;
      overflow: hidden;
      .bg {
        position: absolute;
        background: $yellow;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .fa {
        position: relative;
        z-index: 2;
      }
      &:nth-child(5) {
        .bg {
          width: 50%;
        }
      }
    }
    .star + .star {
      margin-left: 5px;
    }
  }
  .reviewsHolder {
    overflow-y: auto;
    height: 460px;
    border-top: 1px solid $greyDark;
  }
  .reviewItem {
    padding: 15px 15px 15px 0;
    .heading {
      margin-bottom: 15px;
      .name {
        font-size: 18px;
        margin-bottom: 3px;
        a {
          color: $fontColor;
        }
      }
      .statInfo {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
      }
      .date {
        font-size: 12px;
        color: $fontSecondaryColor;
        line-height: 12px;
      }
    }
    .text {
      color: $fontSecondaryColor;
      p {
        color: $fontSecondaryColor;
        font-size: 12px;
      }
    }
  }
  .reviewItem + .reviewItem {
    border-top: 1px solid $grey;
  }
}

.modal-content {
  border-radius: 0;
  .modal-header {
    background: $primaryColor;
    color: #fff;
    h4 {
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .modalBody {
    padding: 15px;
  }
}

.mailboxMenuHolder {
  .btnPrimary {
    margin-bottom: 30px;
  }
  h4 {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $fontSecondaryColor;
    margin-bottom: 10px;
  }
  .mailBoxMenu {
    list-style: none;
    li {
      a {
        display: flex;
        justify-content: space-between;
        color: $fontSecondaryColor;
        text-decoration: none;
        border-bottom: 1px solid $grey;
        padding: 7px 0;
        &:hover,
        &:active,
        &:focus {
          color: $fontColor;
        }
        .fa {
          width: 20px;
          margin-right: 5px;
        }
      }
      .qnt {
        background: #FF7043;
        color: #fff;
        font-size: 9px;
        padding: 4px 6px;
        border-radius: 2px;
      }
    }
  }
}

.mailBoxPage {
  h2 {
    font-weight: 300;
    font-size: 24px;
    color: #757575;
    margin-bottom: 20px;
    a {
      color: #757575;
    }
  }
  .controlsHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    ul {
      list-style: none;
      a {
        color: $fontSecondaryColor;
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid $greyDark;
        transition: .2s;
        text-decoration: none;
        display: block;
        &:hover,
        &:active,
        &:focus {
          color: darken($fontSecondaryColor, 10);
          border-color: darken($greyDark, 10);
        }
      }
      li + li {
        margin-left: 10px;
      }
    }
    .controls {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      li {
        &:first-child {
          .fa {
            margin-right: 5px;
          }
        }
      }
    }
    .paginationControls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .emailsListHolder {
    margin: 0 -15px -15px;
  }
  .emailsTable {
    width: 100%;
    tr {
      &.unreadMail,
      &:hover {
        background: #f5f5f5;
      }
    }
    td {
      padding: 12px;
      font-weight: 600;
      color: $fontSecondaryColor;
      font-size: 13px;
      border-top: 1px solid $greyDark;
      a {
        color: $fontSecondaryColor;
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }
    }
    .checkMail {
      width: 47px;
      padding-left: 15px;
    }
    .mailDate {
      text-align: right;
    }
  }
  .checkbox {
    margin: 0;
    label {
      cursor: pointer;
      padding-left: 0;
    }
    input[type=checkbox] {
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: -1;
      width: 0;
      height: 0;
      overflow: hidden;
      left: 0;
      pointer-events: none;
    }
    .checkbox-material {
      vertical-align: middle;
      position: relative;
      padding-right: 0;
      display: inline-block;
      line-height: 0;
      .check {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0,0,0, .4);
        overflow: hidden;
        z-index: 1;
        border-radius: 3px;
        &:before {
          position: absolute;
          content: "";
          transform: rotate(45deg);
          display: block;
          margin-top: -3px;
          margin-left: 7px;
          width: 0;
          height: 0;
        }
      }
    }
  }
  .checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: $primaryColor;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    animation: checkbox-on 0.2s forwards;
  }
  .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #fff;
    border-color: $primaryColor;
  }
  .headingWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .controls {
      li {
        &:first-child {
          .fa {
            margin-right: 0;
          }
        }
      }
    }
    .controlsHolder,
    h2 {
      margin-bottom: 0;
    }
  }
  .emailInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    color: $fontSecondaryColor;
    .bold {
      font-weight: 600;
    }
    .subject {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .from {
      font-size: 12px;
    }
  }
  .emailTextHolder {
    border-top: 1px solid $greyDark;
    margin: 0 -15px -15px;
    .text {
      padding: 15px;
      p {
        color: #676a6c;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .fishImg {
        max-width: 100%;
      }
    }
  }
  .composeEmailForm {
    .stdFormHolder {
      label {
        text-align: right;
        display: block;
        margin-bottom: 0;
        line-height: 34px;
        font-weight: 600;
      }
    }
  }
  .buttonHolder {
    border-top: 1px solid $greyDark;
    margin: 0 -15px -15px;
    padding: 15px;
    text-align: right;
    .fa {
      margin-right: 5px;
    }
  }
}


























