$fontFamily: 'Roboto', sans-serif;
$primaryColor: #00BFA5;
$secondaryColor: #FF5252;
$yellow: #FF7043;
$fontColor: #212121;
$fontSecondaryColor: #757575;
$grey: #f5f5f5;
$greyLight: #fafafa;
$greyDark: #e0e0e0;
$fontSize: 1.4rem;
@mixin blockShadow() {
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
}
@mixin blockShadowHover() {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
}